<div class="login-page">
    <div class="login-box">
        <div class="login-logo" style="margin-bottom: 30px">
            <img src="/images/ConsightLogo_TextUnder.svg" alt="Consight Logo" width="40%" style="opacity: .8">
        </div>
        <!-- /.login-logo -->
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg"><b>Change</b> password</p>
                <ul>
                    {{#if error}}
                    {{#each error.errors}}
                    <li style="color:red">{{this.param}}: {{this.msg}}</li>
                    {{/each}}
                    {{/if}}
                </ul>

                <form method="post">
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" placeholder="Password" name="password">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" placeholder="Retype Password"
                            name="password_confirm">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <!-- /.col -->
                        <div class="col-4">
                            <input type="submit" class="btn btn-primary btn-block" value="Change" />
                        </div>
                        <!-- /.col -->
                    </div>
                    
                    <p class="mb-0">
                        <a href="/profile" class="text-center">back</a>
                    </p>
                </form>
            </div>

            <!-- /.login-card-body -->
        </div>
    </div>
</div>