<h1>Token generation</h1>

<p>Note: Onced generated, please stored the token in a safe place.</p>
<p>If lost, the token must be regenerated.</p>

{{#if token}}
    <p>Token: {{token}}</p>
{{/end}}

<a href="../..">Back</a>
<form method="POST">
    <button type="submit">Generate</button>
</form>